@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Jomolhari&display=swap");

@font-face {
  font-family: "Genericons";
  src: url("fonts/genericons-regular-webfont.woff") format("woff"),
    url("fonts/genericons-regular-webfont.eot") format("truetype");
}

/* Body and utility classes*/
body {
  font-family: "Ubuntu", sans-serif;
  background: #90ddf0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0077b6,
    #90ddf0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0077b6,
    #90ddf0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  overflow-x: hidden;
}

hr {
  background-color: #fff;
  width: 85%;
}

h2 {
  text-decoration: underline;
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 2.2px;
}

.bg-dark {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0077b6,
    #90ddf0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0077b6,
    #90ddf0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.9;
}

nav .navbar-toggler {
  outline: none;
  border: none;
}

nav .navbar-toggler-icon:hover {
  transform: translateY(3px);
}

/* Showcase */

.jumbotron {
  background: url("https://images.pexels.com/photos/433604/pexels-photo-433604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center / cover;
  height: 450px;
}

.jumbotron button {
  background: none;
  border-color: #90ddf0;
  font-size: 1.3rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(25, 34, 49, 0.6);
  -moz-box-shadow: 5px 5px 5px 0px rgba(25, 34, 49, 0.6);
  box-shadow: 5px 5px 5px 0px rgba(25, 34, 49, 0.6);
}

.jumbotron button:hover {
  background: rgba(0, 119, 182, 0.9) !important;
  color: #fff;
  border-color: rgba(0, 119, 182, 0.9) !important;
  font-size: 1.3rem;
  transform: translateY(4px);
}

/* About me */
#about {
  height: 690px;
}

.media .media-body h5 {
  text-decoration: underline;
  font-style: italic;
  font-size: 1.6rem;
}

.media .media-body p {
  font-size: 1.2rem;
}

.media img {
  border: 2px solid #ccc;
  height: 280px;
  width: 300px;
  border-radius: 50%;
}

/* My Work */
#work h4 {
  color: #fff;
  font-family: "Jomolhari", serif;
}
#work img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  position: relative;
}

#work button {
  background: #fff;
  border: solid 1px #000;
  color: #000;
  font-size: 1.3rem;
}

#work button:hover {
  background: rgba(25, 34, 49, 0.9) !important;
  color: #fff;
  border-color: #fff;
  font-size: 1.3rem;
  transform: translateY(4px);
}

.overlay {
  background: black;
  z-index: 5;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4286f4;
}

.link-container h1 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
}

/* My skills */
.card h4 {
  text-decoration: underline;
  font-weight: bold;
}
.marg-med {
  margin-right: 10px;
  margin-left: 10px;
}

.card hr {
  background-color: #ccc;
}

.card .card-body span {
  font-size: 1.2rem;
}

/* Contact form */
#contact form button {
  background: #fff;
  border: solid 1px #000;
  color: #000;
  font-size: 1.3rem;
}

#contact form button:hover {
  background: rgba(25, 34, 49, 0.9) !important;
  color: #fff;
  border-color: #fff;
  font-size: 1.3rem;
  transform: translateY(4px);
}

#contact form label {
  font-size: 1.4rem;
}

/* Social links */
#social-media .facebook-link i {
  color: #fff;
}

#social-media .facebook-link i:hover {
  color: #3b5998;
}

#social-media .twitter-link i {
  color: #fff;
}

#social-media .twitter-link i:hover {
  color: #33ccff;
}

#social-media .instagram-link i {
  color: #fff;
}

#social-media .instagram-link i:hover {
  color: #4e433c;
}

#social-media .codepen-link i {
  color: #fff;
}

#social-media .codepen-link i:hover {
  color: #212121;
}

#social-media .linkedin-link i {
  color: #fff;
}

#social-media .linkedin-link i:hover {
  color: #4875b4;
}

#social-media .github-link i {
  color: #fff;
}

#social-media .github-link i:hover {
  color: #333;
}

@media (max-width: 950px) {
  .container {
    width: 70%;
  }
  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }
  .tab .content {
    width: 85%;
  }
  .marg-med {
    margin-right: 15px;
    margin-left: 15px;
  }

  .tab:hover {
    width: 100%;
  }

  #about {
    height: 620px;
    margin-bottom: 150px;
  }
}

@media (max-width: 680px) {
  .container {
    width: 85%;
  }
  .soc-links {
    margin: 0;
  }
  .marg-med {
    margin-right: 20px;
    margin-left: 20px;
  }
  #about {
    min-height: 820px;
    margin-bottom: 120px;
  }
  .jumbotron h1 {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 85%;
  }

  .soc-links {
    margin: 0;
  }
  .marg-med {
    margin-right: 15px;
    margin-left: 15px;
  }
  #about {
    height: 800px;
    margin-bottom: 150px;
  }
  .jumbotron h1 {
    height: 200px;
  }
}

@media (max-width: 400px) {
  #about {
    height: 865px;
    margin-bottom: 150px;
  }
}
